<!DOCTYPE html>
<html>
<head>
    <title>ExploreAT!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="stylesheets/style-home.css" rel="stylesheet">
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body { padding-top: 50px; }
        img { width: 140px; height: 140px; }
        .fa-sign-out { float: right; }
        .img-tut { width: 100%; }
    </style>
</head>
