<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>ExploreAT! | Circle Packed Questionnaires</title>

    <link href="bower_components/noUiSlider-ms/jquery.nouislider.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/style-ex_fragebogen.css" rel="stylesheet">


    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>-->
    <script src="bower_components/d3-queue/d3-queue.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>
    <script src="bower_components/wellknown/wellknown.js"></script>
    <script src="bower_components/Wicket/wicket.js"></script>
    <script src="bower_components/noUiSlider-ms/jquery.nouislider.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.jquery.js"></script>

    <style>
        svg {
            height: 1000px;
            width: 1000px;
            border: 1px solid gray;
        }
        g.am-axis text {
            font-size: 8px;
        }

        .domain {
            fill: none;
        }

        .tick > line{
            stroke: black;
            stroke-width: 1px;
            stroke-opacity: .25;
        }

    </style>

</head>

<body>

<div id="page-wrapper">
    <div id="header">
        <div class="title">ExploreAT!</div>
        <!--<div id="filter-bar">-->
            <!--&lt;!&ndash;<div class="filter-row"><div class="filter-row-label"><strong>Fragebogen</strong> Filter</div><input type="text" id="filterFragebogen" placeholder="Fragebogen title containing..." value=""></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="filter-row"><div class="filter-row-label"><strong>Frage</strong> Filter</div><input type="text" id="filterFrage" placeholder="Frage containing..." value=""></div>&ndash;&gt;-->
            <!--<div class="filter-row"><div class="filter-row-label"><strong>Lemma</strong> Filter</div><input type="text" id="filterLemma" placeholder="Starting lemma..." value=""></div>-->
            <!--<div id="generateButton" class="load-block">Generate <b>HTML</b></div>-->
        <!--</div>-->
    </div>
    <div id="content">
        <div id="spinner" class="hidden">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div id="chart">
            <svg></svg>
        </div>
    </div>
</div>

<!--<div id="imgTooltip"></div>-->
<!--<div id="lemmaTooltip"></div>-->

<script src="javascripts/d3.layout.adjacencyMatrix.js"></script>
<script src="javascripts/tustep_matrix.js"></script>

</body>

</html>
