<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>ExploreAT! | Lemma Exploration</title>

    <link href="bower_components/noUiSlider-ms/jquery.nouislider.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/style-ex_bubbles.css" rel="stylesheet">


    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>-->
    <script src="bower_components/d3-queue/d3-queue.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>
    <script src="bower_components/wellknown/wellknown.js"></script>
    <script src="bower_components/Wicket/wicket.js"></script>
    <script src="bower_components/noUiSlider-ms/jquery.nouislider.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.jquery.js"></script>
</head>

<body>

  <div id="page-wrapper">
    <div id="header">
      <div class="title">ExploreAT!</div>
      <div id="filter-bar">
        <div id="explanation">
          Type any word to generate to then generate its context treemap.<br>
          You can use the <span class="huge">*</span> or <span class="big">?</span> characters as a wildcard before, after or in the middle of the word.
        </div>
        <input type="text" id="filterField" placeholder="Word..." value="">
        <div id="generateTreeButton" class="load-block">Generate <b>TreeMap</b></div>
        <div id="errorMessage">The field must contain something!</div>
      </div>
    </div>
    <div id="content">
      <div id="chart"></div>
    </div>
  </div>

  <div id="imgTooltip">
  </div>

  <script src="javascripts/word_treemap.js"></script>

</body>

</html>
