<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h4><span class="fa fa-sign-in"></span> Login</h4>
            <h5>This is the login homepage for the prototypes </h5>
            <h5>In order to be able to access the pilot tool you need to request an invitation first. In case you haven't done so yet, please
            <a href="mailto:theron@usal.es?Subject=ExploreAT!%20Prototypes%20Access%20Request" target="_top">drop us a line</a></h5>
        <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>

        <form action="login" method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div>
            <input type="submit" class="form-control" value="Submit" />
          </div>
        </form>
      </div>
      <hr>
      <p><a href="./">Home</a></p>
    </div>
  </body>
</html>
