<div id="map"></div>
<div id="legend-holder" class="holder overmap">
    Lemmas Per Bucket
    <div id="legend-graph"></div>
</div>
<div id="bucket-holder" class="holder overmap">
    <div class="bucket-resolution-label">Bucket Resolution Level</div>
    <select name="bucket-resolution-selector" id="bucket-resolution-selector">
        <option value="7" selected>1st Level</option>
        <option value="8">2nd Level</option>
        <option value="9">3rd Level</option>
        <option value="10">4th Level</option>
        <option value="11">5th Level</option>
    </select>
    <div id="reset-map-button">Reset View</div>
</div>
<div id="tooltip-check-holder" class="holder overmap">
    <strong>Tooltip</strong><br>
    <input id="tooltip-checkbox" type="checkbox" name="tooltip-checkbox" value="tooltip-checkbox" checked>Show on hover<br>
</div>
<div id="lemma-list-holder" class="holder overmap collapsed">
    <div id="lemma-list-handle" class="holder">&laquo;</div>
    <div class="lemma-list-label">Representative Lemmas</div>
    <div id="lemma-list-table">
    </div>
</div>
<div id="closeLeft" class="closer"></div>
