textarea, input { outline: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#header {
	color: #595959;
	border-bottom: 1px solid gainsboro;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}

h1 {
	font-size: 1.1em;
}

h2 {
	font-size: .8em;
	font-weight: 300;
	color: darkgrey;
}

#info-tooltip {
  position: fixed;
  background-color: white;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: .8em;
  border: 1px solid #848484;
  width: 200px;
}

/*#chart {
	border: 1px solid red;
}

svg {
	border: 1px solid blue;
}*/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label.lade {
	opacity: .1;
}
.label.bedeutung {
	opacity: .8;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.node.lade {
	fill: #ae3030;
	background-color: #ae3030;
}

.node.bedeutung {
	fill: #e66c6c;
	background-color: #e66c6c;
}

.node.dbo {
	fill: #f6bcbc;
	background-color: #f6bcbc;
}