textarea, input { outline: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#header {
	color: #595959;
	border-bottom: 1px solid gainsboro;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}

h1 {
	font-size: 1.1em;
}

h2 {
	font-size: .8em;
	font-weight: 300;
	color: darkgrey;
}

#info-tooltip {
  position: fixed;
  background-color: white;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: .8em;
  border: 1px solid #848484;
  width: 200px;
}

/*#chart {
	border: 1px solid red;
}

svg {
	border: 1px solid blue;
}*/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label.lade {
	opacity: .1;
}
.label.bedeutung {
	opacity: .8;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.node.lade {
	fill: #ae3030;
	background-color: #ae3030;
}

.node.bedeutung {
	fill: #e66c6c;
	background-color: #e66c6c;
}

.node.dbo {
	fill: #f6bcbc;
	background-color: #f6bcbc;
}

#chart {
	width: 80%!important;
	text-align: center;
	margin: auto;
}

rect {
	overflow: hidden;
}

#header > div.title {
    color: #989898;
    font-size: .8em;
    font-weight: 600;
    margin-bottom: 18px;
}

#filter-bar > input {
	width: 150px;
	height: 18px;
	text-align: center;
}

#filter-bar > #explanation{
	text-align: center;
	font-size: .7em;
	color: #888;
	margin: 30px 0 14px 0;
	padding: 0px 100px;
	font-weight: 100;
}

#explanation > .huge {
	font-size: 2em;
	vertical-align: top;
}

#explanation > .big {
	font-size: 1em;
	font-weight: 600;
	vertical-align: top;
}

.load-block {
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    margin: 0px 10px;
    padding: 4px 8px;
    display: inline-block;
    font-size: .7em;
    font-weight: 300;
    text-align: center;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.load-block:hover {
	background-color: #fcfcfc;
	border: 1px solid #aaaaaa;
}

#errorMessage {
	margin: 12px 0 6px 0;
	font-size: 0.7em;
	color: red;
}

.treeRootText {
	font-weight: 500;
	font-size: 1.1em;
	fill: white;
}

.children {
	cursor: pointer;
}

#imgTooltip {
	position: fixed;
	max-width: 160px;
	max-height: 160px;
	background-color: black;
	overflow: hidden;
	border: 1px solid black;
}

#imgTooltip > img {
	width: 180px;
}

